body {
    font-family: Arial;
}

label {
    display: block;
    margin-bottom: 15px;
}

.wrapper {
    width: 465px;
    margin: auto auto;
}

.chat_panel {
    border: 1px solid #999;
    padding: 20px;
    margin-bottom: 20px;
}

hr {
    margin: 25px 0;
}

.chat_list {
    background: #c8f3ff;
    padding: 5px;
    word-break: break-all;
}

.user {
    margin: 0;
}
